@using BookManagement.Data;
@using Microsoft.EntityFrameworkCore;
@inject BookManagementDbContext _context;
@{
    BookManagementDbContext db = _context;
    List<Category> cat = db.Categories.OrderBy(x => x.CategoryName).ToList();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 3HYQBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <style>
        body {
            background-image: url("../../img/background.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">3HYQBook</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse menu1">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home">&nbsp;Trang chủ</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GioiThieu">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SachMoiCapNhat">Sách mới cập nhật</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SachDaHoanThanh">Sách đã hoàn thành</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown show">
                                <a class="btn dropdown-toggle cat" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-list">&nbsp;Thể loại</i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    @foreach (var item in cat)
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="TheLoai" asp-route-id="@item.CategoryId">@item.CategoryName</a>
                                    }
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                @*<a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-primary"><i class="fa fa-user">&nbsp;Admin Login</i></a>*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-9" style="background-color:#fff; margin: 25px 20px 25px -20px; border-radius: 10px;">
                    @RenderBody()
                </div>
                <div class="col-3" style="margin-top:25px;">
                    
                    <div class="container" style="clear:right; background-color:#414663;color:#fff;font-weight:100;font-size:18px;text-align:justify;padding:0px 15%;">
                        <br />
                        <p>Những cuốn sách của nhóm được đăng tải và chia sẻ với các điều khoản có trong giấy phép Creative Commons Ghi nhận công của tác giả - Phi thương mại - Không phát sinh  3.0 Unported</p>
                        <p>Trước khi có ý định đăng lại sách của 3HQYBook ở bất cứ đâu, xin vui lòng liên hệ với nhóm. Nếu muốn up lên wattpad để tiện theo dõi trên điện thoại, vui lòng để chế độ private</p>
                        <p>Vui lòng giữ nguyên tên tác phẩm, tên tác giả, tên người dịch/biên tập, nguồn</p>
                        <p>Tuyệt đối không dùng những bản dịch ở đây vào mục đích thương mại, không chuyển ver, thay tên nhân vật thành tên ca sĩ Hàn Quốc hoặc chỉnh sửa, thay đổi, thêm bớt bất cứ điều gì trong nội dung sách.</p>
                        <br />
                    </div>
                    <div class="container catright" style="background-color:#FAFAD2;margin-top:30px;padding:20px;font-size:18px;">
                        <h5>Thể loại</h5>
                        <hr />
                        @foreach (var item in cat)
                        {
                            <a asp-controller="Home" asp-action="TheLoai" asp-route-id="@item.CategoryId">@item.CategoryName</a>
                            <hr />
                        }
                    </div>
                </div>
            </div>
            <div style="width: 800px;">
                <div class="" style="margin-left: -20px;margin-bottom:200px">
                    <img src="~/img/pencil.png" width="40%" style="margin:-30px 250px;height:120px;" />
                    <img src="~/img/gui_loi_yeu_thuong.png" width="100%" class="text-center" />
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footerhome text-muted">
        <div class="container" style="margin:20px auto;">
            <div class="row" style="color:#fff;">
                <div class="col-3">
                    &copy; 2021 - 3HYQBook
                </div>
                <div class="col-3" style="font-size:18px;">
                    <h4>Danh mục</h4>
                    <li><a class="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                    <li><a class="" asp-controller="Home" asp-action="GioiThieu">Giới thiệu</a></li>
                    <li><a class="" asp-controller="Home" asp-action="SachMoiCapNhat">Sách mới cập nhật</a></li>
                    <li><a class="" asp-controller="Home" asp-action="SachDaHoanThanh">Sách đã hoàn thành</a></li>
                </div>
                <div class="col-3">
                    <h4>Theo dõi chúng tôi tại</h4>
                    <div style="font-size:35px;margin-left: 20px;">
                        <a href="#"><i class="fa fa-facebook-square"></i></a>&nbsp;
                        <a href="#"><i class="fa fa-twitter-square"></i></a>&nbsp;
                        <a href="#"><i class="fa fa-google-plus-square"></i></a>&nbsp;
                        <a href="#"><i class="fa fa-youtube-square"></i></a>&nbsp;
                    </div>
                </div>
                <div class="col-3" style="font-size:18px;">
                    <h4>Sản phẩm này thuộc về</h4>
                    <li>Nguyễn Phi Hồng</li>
                    <li>Nguyễn Quang Huy</li>
                    <li>Đỗ Thị Huyền</li>
                    <li>Tạ Diễm Quỳnh</li>
                    <li>Nguyễn Thị Hoàng Yến</li>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/Common/Ajax-config.js"></script>
    <script src="~/Scripts/Common/ValidateXSS.js"></script>
    <script src="~/Scripts/Common/Message.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
