@using BookManagement.Data;
@using Microsoft.EntityFrameworkCore;
@inject BookManagementDbContext _context;
@{
    BookManagementDbContext db = _context;
    List<Book> booknew = db.Books.OrderBy(x => x.ModifyTime).Take(5).ToList();
    List<Book> bookcompleted = db.Books.Where(x => x.IsCompleted == true).Take(5).ToList();

    Layout = "_Layout";
    ViewData["Title"] = "Trang chủ";
}
<head>
    <link rel="stylesheet" href="~/css/home/stylehome.css" />
</head>
<body>
    <div class="container">
        <h3>Sách mới cập nhật</h3>
        @if (booknew.Count == 0)
        {
            <hr />
            <p>Tạm thời chưa có sách. Vui lòng quay lại sau</p>
        }
        else foreach (var book in booknew)
        {
            <hr />
            <div>
                <a class="nav-link text-dark bookhome" asp-controller="Home" asp-action="NDSach" asp-route-id="@book.BookId" style="display:flex;flex-wrap:wrap;">
                    <div>
                        <img src="@book.BookImage" />
                    </div>
                    <div style="margin-left:10px;margin-top:15px;">
                        <h4>@book.BookName</h4>
                        <p><b>Tác giả:&nbsp;</b>@book.Author</p>
                        <p>
                            <b>Thể loại:&nbsp;</b>
                            @foreach (var item in db.BookCategories.Where(x => x.BookId == book.BookId))
                            {
                                <span>@db.Categories.Where(y => y.CategoryId == item.CategoryId).FirstOrDefault().CategoryName&nbsp;</span>
                            }
                        </p>
                        <p><b>Số chương:&nbsp;</b>@book.TotalChapter</p>
                    </div>
                </a>
            </div>
        }

        <br /> <br />
        <h4>Sách đã hoàn thành</h4>
        @if (bookcompleted.Count == 0)
        {
            <hr />
            <p class="text-center">Tạm thời chưa có sách. Vui lòng quay lại sau</p>
        }
        else foreach (var book in bookcompleted)
        {
            <hr />
            <div>
                <a class="nav-link text-dark bookhome" asp-controller="Home" asp-action="NDSach" asp-route-id="@book.BookId" style="display:flex;flex-wrap:wrap;">
                    <div>
                        <img src="@book.BookImage" />
                    </div>
                    <div style="margin-left:10px;margin-top:15px;">
                        <h4>@book.BookName</h4>
                        <p><b>Tác giả:&nbsp;</b>@book.Author</p>
                        <p>
                            <b>Thể loại:&nbsp;</b>
                            @foreach (var item in db.BookCategories.Where(x => x.BookId == book.BookId))
                            {
                                <span>@db.Categories.Where(y => y.CategoryId == item.CategoryId).FirstOrDefault().CategoryName&nbsp;</span>
                            }
                        </p>
                        <p><b>Số chương:&nbsp;</b>@book.TotalChapter</p>
                    </div>
                </a>
            </div>
        }
        <br />
    </div>
</body>	