@using BookManagement.Data;
@using Microsoft.EntityFrameworkCore;
@inject BookManagementDbContext _context;
@{
    int bookId = ViewBag.BookId;
    BookManagementDbContext db = _context;
    Book book = db.Books.Where(x => x.BookId == bookId).FirstOrDefault();
    List<Chapter> chapter = db.Chapters.Where(x => x.BookId == bookId).ToList();

    Layout = "_LayoutBook";
    ViewData["Title"] = book.BookName;
}
<head>
    <link rel="stylesheet" href="~/css/home/stylebook.css" />
</head>
<body>
    <div class="container" style=" text-align: center;">
        <img class="avatar" src="@book.BookImage" alt="" width="150px">
        <h2> @book.BookName.ToUpper() </h2>

        <div class="ther">
            Tác giả: @book.Author

            @book.Description
        </div>
        <br>
        <h3>MỤC LỤC</h3>

        <table align="center">
            @if (chapter.Count() == 0)
            {
                <tr>
                    <th style="color:#666;font-weight:400;">Tạm thời chưa cập nhật chương. Vui lòng quay lại sau</th>
                </tr>
            }
            else foreach (var item in chapter)
            {
                <tr>
                    <th><a asp-controller="Home" asp-action="NDChuong" asp-route-id="@item.ChapterId"> @item.ChapterName </a></th>
                </tr>
            }
        </table>

        <br><br><br>
    </div>
</body>