@using BookManagement.Data;
@using Microsoft.EntityFrameworkCore;
@inject BookManagementDbContext _context;
@{
    int cateId = ViewBag.CateId;
    BookManagementDbContext db = _context;
    var cateName = db.Categories.Where(x => x.CategoryId == cateId).FirstOrDefault().CategoryName;
    List<BookCategory> listBook = db.BookCategories.Where(x => x.CategoryId == cateId).ToList();

    Layout = "_Layout";
    ViewData["Title"] = cateName;
}
<head>
    <link rel="stylesheet" href="~/css/home/stylehome.css" />
</head>
<body>
    <div class="container">
        <h3>@cateName</h3>
        @if (listBook.Count == 0)
        {
            <hr />
            <p>Tạm thời chưa có sách. Vui lòng quay lại sau</p>
        }
        else foreach (var item in listBook)
            {
                Book book = db.Books.Where(x => x.BookId == item.BookId).FirstOrDefault();
                <hr />
                <div>
                    <a class="nav-link text-dark bookhome" asp-controller="Home" asp-action="NDSach" asp-route-id="@book.BookId" style="display:flex;flex-wrap:wrap;">
                        <div>
                            <img src="@book.BookImage" />
                        </div>
                        <div style="margin-left:10px;margin-top:15px;">
                            <h4>@book.BookName</h4>
                            <p><b>Tác giả:&nbsp;</b>@book.Author</p>
                            <p>
                                <b>Thể loại:&nbsp;</b>
                                @foreach (var item in db.BookCategories.Where(x => x.BookId == book.BookId))
                                {
                                    <span>@db.Categories.Where(y => y.CategoryId == item.CategoryId).FirstOrDefault().CategoryName&nbsp;</span>
                                }
                            </p>
                            <p><b>Số chương:&nbsp;</b>@book.TotalChapter</p>
                        </div>
                    </a>
                </div>
            }
        <br />
    </div>
</body>